
<%- include('../partials/header', {title: 'Movie App'}) %>
<%- include('../partials/navBar') %>

<main>
    <h1>Unauthorized. Please login or register</h1>
</main>

<%- include('../partials/footer') %>